body {
	margin: 60px 100px 60px 100px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #FFB1B1;

}

li a {
	float: left;
	display: block;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	border-right: 2px solid;
	min-width: 50	px;
	transition: 0.2s;
	font-weight: bold;
	font-family: "Josefin Slab",Helvetica;
}

li a:hover {
	background-color: #EBA6A6;
	color: #EDFEFF;
	text-shadow: 0px 1.5px 2px #EDFEFF;
}